.input_wrapper {
  width: 100%;
  font-size: 16px;
  line-height: 1.1;
  padding: 12px 10px;
  border: 1px solid var(--secondary-lightblue);
  color: var(--primary-blue);
  border-radius: 6px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--secondary-skyblue);
  }
}
