:root {
  --white-color: #ffffff;
  --primary-black: #2f2f2f;
  --primary-blue: #407bff;
  --secondary-gray: #ecf2ff;
  --secondary-red: #ef5050;
  --secondary-skyblue: #9ebbff;
  --secondary-yellow: #ff9d43;
  --secondary-lightblue: #d7e3ff;
}
